<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>add product</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <input type="text" name="pro_id" id="" placeholder="pro_id" > -->
        <input type="text" name="name" id="" placeholder="name">
        <input type="number" name="price" id="" placeholder="price">
        <input type="number" name="offer_price" id="" placeholder="offer_price">
        <input type="file" name="img" id="">
        <input type="submit" value="add_pro">
    </form>
</body>
</html>