<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>user registration</h2>
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="name" id="" placeholder="name">
            <input type="email" name="email" id="" placeholder="email">
            <input type="password" name="password" id="" placeholder="password">
            <input type="submit" value="register">
        </form>
    </div>
</body>
</html>