.navbar{
    background-color: black;
}
.navbar-collapse a{
    color: rgb(214, 210, 210);
}
.navbar-collapse a:hover{
    color: white;
}
body {
    /* background-color: #1a1a2e; */
    font-family: 'Arial', sans-serif;
}
h2{
    color: black;
}
/* .cart-item {
    border: 2px solid #00ff6a;
} */
.btn-success {
    background-color: #019840;
    border: none;
    transition: 0.3s;
}
.btn-success:hover {
    background-color: #00cc50;
}
.btn-danger {
    background-color: #ff0033;
    border: none;
    transition: 0.3s;
}
.btn-danger:hover {
    background-color: #cc002a;
}
.dropdown a{
    color: rgb(214, 210, 210);
}
.dropdown a:active{
    color: rgb(214, 210, 210);
}
.dropdown-menu a{
    color: black;
}
.dropdown-menu a:hover{
    color: black;
}
footer a{
    color: white;
    text-decoration: none;
}
