body{
    background-color: white;
}
.navbar{
    background-color: black;
}
.form{
    width: 700px;
    background-color: rgb(199, 198, 198);
}
input{
    padding: 5px;
    margin: 8px;
    width: 100%;
}