.logo{
    width: 80px;
    height: 50px;
}
.navbar{
    background-color: black;
}
.navbar-collapse a{
    color: rgb(214, 210, 210);
}
.navbar-collapse a:hover{
    color: white;
}
.dropdown a{
    color: rgb(214, 210, 210);
}
.dropdown a:active{
    color: rgb(214, 210, 210);
}
.dropdown-menu a{
    color: black;
}
.dropdown-menu a:hover{
    color: black;
}

.products{
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}
.card{
    border: none;

}
.a{
    text-decoration: none;
}
img{
    width: auto;
    height: 900px;
    padding: 20px;
}